<!DOCTYPE html>
<html>
  <head>
    <title>Addtalk</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'app-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
